/* Main */
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* margin: 0px; */
    height: 100%;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.queens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.box {
    width: 50%;
    height: 200px;
    margin-bottom: 0px;
  }

.center {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
}
  
img {
    width: 100%;
    height: 100%;
}
/* container */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    margin-top: 0px;
    margin-bottom: .5em;
}

.leftSide {
    display: flex;
}

.nav-wrapper > .leftSide > div {
    margin-right: 20px;
    font-size: 0.9;
}

.navLinkWrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5x;
}

.navLinkWrapper a {
    color: grey;
    text-decoration: none;
    transition: color 0.5s;

}

.navLinkWrapper:hover {
    border-bottom: 1px solid black;
}

.navLinkWrapper a:hover {
    border-bottom: black;
}

.nav-wrapper > .rightSide > div {
    margin-right: 20px;
    font-size: 0.9;
}

.rightLinkWrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5x;
}

.rightLinkWrapper a {
    color: grey;
    text-decoration: none;
    transition: color 0.5s;

}

.rightLinkWrapper:hover {
    border-bottom: 1px solid black;
}

.rightLinkWrapper a:hover {
    border-bottom: black;
}

html {
    height: 100%;
}
  
#main-holder {
    width: 30%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    top:50px;
}
  
#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}
  
#error-msg-second-line {
    display: block;
}
  
#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
.login-form-field::placeholder {
    color: #3a3a3a;
}
  
.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none;
}
/* 
img {
    max-height: 200px;
    max-width: 200px;
} */
.logo {
    width: 30em;
    position:relative; 
    right:350px; 
    bottom:30px;
}

#signup-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
}

.home-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
}

.buildteam-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em; 
}

.countries-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em; 
}

.queen-btn {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
}

#login-header {
    margin: .5em;
}

.error-message {
    background-color: #FF4D4D;
    border-radius: 5px;
    width: 80%;
}

.countries {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin-left: auto;
    margin-right: auto;
}

.country-selector {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin-left: auto;
    margin-right: auto;
}

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.my-teams-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    background-color: lightgray;
    /* border-radius: 10px; */
    padding: .5em;
    width: 50%;
    text-align: center;
}

.build-team-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    background-color: lightgray;
    /* border-radius: 10px; */
    padding: .5em;
    width: 50%;
    text-align: center; 
}

img.displayed-country {
    max-height: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top-3-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}

#top-three-form-submit {
    width: 10%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
}

.form-label {
    font-weight: bold;
}

.card {
    margin-bottom: 1em;

}

.view-team-button-class {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.delete-button-class {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: .25em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.team-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.queen-image {
    max-height: 450px;
    max-width: 450px;
}

.queen-container {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.first-rendered-countries {
    max-height: 350px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.queen-gif {
    margin-bottom: 1.5em;
}

.queen-p {
    text-align: center;
}

.team-picture-class {
    text-align: center;
}

.all-teams-picture-class {
    text-align: center;
}

.queen-name {
    text-align: center;
}

.card-title {
    text-align: center;
}

.team-building-div {
    margin-bottom: 1.5em;
}

.team-building-p {
    text-align: center;
}